<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/Sudhanshu_Profile_pic.ico" type="image/icon type">
    <title>Sudhanshu's Portfolio</title>
</head>

<body>
    <h3>My Contact details</h3>
    <ol>
        <li>Email : try@try.com</li>
        <li>Cell : (+91) 987654321</li>
        <li>Addres : India</li>
    </ol>
    <hr>
    <form action="mailto:try@try.com" method="post" enctype="text/plain">
        <label>Name : </label>
        <input type="text" name="Name">
        <br>
        <label>Email : </label>
        <input type="email" name="Email">
        <br>
        <label>Comment : </label>
        <textarea name="Comment" cols="30" rows="5"></textarea>
        <br>
        <input type="submit">
    </form>
</body>

</html>